fastapi
uvicorn
gunicorn
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
pydantic
PyPDF2
pypdf
python-dotenv
httpx
huggingface_hub[hf_xet]
cachetools